* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #58B19F;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.header {
    padding-top: 15px;
    width: 100%;
    background-color: #2C3A47;
    color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    transition: ease-in-out 0.5s;
}

.title {
    font-size: 2rem;
    transition: ease-in-out 0.5s;
}

.title:hover {
    transform: translateY(3px);
    transition: ease-in-out 20s;
    color: #58B19F;
    cursor: default;
}

.Addbtn {
    position: fixed;
    right: 10px;
    top: 1.5rem;
    background-color: #182C61;
    color: beige;
    font-weight: bolder;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 7px;
    font-size: 0.7rem;
    cursor: pointer;
    transition: ease-in-out 2s;
    box-shadow: 1px 1px 1px bisque;
}

.Addbtn:hover {
    transition: ease-in-out 1s;
    box-shadow: 1px 1px 1px #58B19F;
}

.btn1 {
    position: fixed;
    right: 10px;
    top: -6rem;
    background-color: #182C61;
    color: beige;
    font-weight: bolder;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 7px;
    font-size: 0.7rem;
    cursor: pointer;
    transition: 1s;
}

.ltools {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.timestamp {
    margin-left: 2rem;
    font-size: 1.1rem;
    border: none;
}

.notetitle {
    background-color: transparent;
    border: none;
    resize: none;
    color: aliceblue;
    font-size: 1.5rem;
    width: auto;
    max-width: 15ch;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    height: 2rem;
    outline: none;
    align-self: flex-end;
}

.note {
    width: 100%;
    height: 400px;
    background-color: cornsilk;
    margin: 25px;
    margin-top: 55px;
    border: #182C61 solid;
    border-top: none;
    border-radius: 21px 0px 20px 20px;
    box-shadow: 5px 5px 5px #2C3A47;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(-20px); 
}

.note.visible {
    opacity: 1; /* Change opacity to 1 for visibility */
    transform: translateY(0); /* Reset translation */
}

.tool {
    width: 100%;
    background-color: #2C3A47;
    color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 20px 0px 0px 0px;
}

.tool i {
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.tool i:hover {
    transform: translateY(-2px);
    transition: ease-in-out 0.2s;
}

.note .textarea {
    border: none;
    width: 100%;
    height: 350px;
    resize: none;
    outline: 0;
    padding: 5px 10px;
    font-size: 20px;
    background-color: transparent;
    color: #00008b; /* Font color */
}

.note .textarea::-webkit-scrollbar {
    width: 7px;
}

.note .textarea::-webkit-scrollbar-thumb {
    background-color: #182C61;
    border-radius: 10px 0px 0px 10px;
    cursor: default;
}

.note .textarea::-webkit-scrollbar-track {
    background-color: transparent;
    margin-bottom: 10px;
    width: 13px;
}

.note .textarea::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 680px) {
    .Addbtn {
        display: none;
        transition: 3s;
    }
    .btn1 {
        position: fixed;
        right: 10px;
        top: 6rem;
        background-color: #182C61;
        color: beige;
        font-weight: bolder;
        padding: 10px;
        border: 0;
        outline: 0;
        border-radius: 7px;
        font-size: 0.7rem;
        cursor: pointer;
        transition: 3s;
    }
    .timestamp {
        margin-left: 0.7rem;
        font-size: 0.6rem;
    }
    .notetitle {
        font-size: 0.9rem;
        max-width: 10ch;
        height: 1.1rem;
    }
    .tool i {
        font-size: 1.1rem;
        margin-left: 0.3rem;
    }
}